{%extends 'base.html'%}
{% load static %}





{%block body%}
<link rel="stylesheet" type="text/css" href="{%static 'css/st.css'%}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<style>

    .cont{


    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,1.8)),url("{%static 'images/tea.jpg'%}");
	background-size: cover;
	background-position: center;
	color: #efefef !important;
	background-attachment: fixed;
	padding:0 px;
    height: 500px !important;


}
.custom{
padding:20px;
}

</style>

<div class="cont">

</div>

<!--Section: Contact v.2-->
<section class="mb-3 custom">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly.</p>

    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form"  action="." method="POST">
                {% csrf_token %}



                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0" name="name">
                            <label for="name" ><i class="zmdi zmdi-accounts-add"></i></label><br>
                                {{form.name}}


                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <label for="name" ><i class="zmdi zmdi-accounts-add"></i></label><br>
                                {{form.emails}}
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->
                <br>
                <!--Grid row-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form mb-0">
                            <label for="name" ><i class="zmdi zmdi-accounts-add"></i></label>
                                {{form.subjects}}
                        </div>
                    </div>
                </div>
                <!--Grid row-->
                <br>
                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <label for="name" ><i class="zmdi zmdi-accounts-add"></i></label><br>
                                {{form.descriptions}}
                        </div>

                    </div>
                </div>
                <br>

            <div class="form-group form-button">
                <input type="submit"  class="btn btn-primary" value="Submit"/>
            </div>
            </form>

            <div class="status"></div>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fa fa-map-marker fa-lg" aria-hidden="true"></i>
                    <p>Kathmandu,Nepal</p>
                </li>

                <li><i class="fa fa-phone-square fa-lg" aria-hidden="true"></i>
                    <p>9866******</p>
                </li>

                <li><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>
                    <p>rukesh.shrestha11@gmail.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->

    <!-- JS -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <script>
						/* Because i didnt set placeholder values in forms.py they will be set here using vanilla Javascript
		//We start indexing at one because CSRF_token is considered and input field
		 */

		//Query All input fields
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder=' enter your name . . .';
		form_fields[2].placeholder='enter your email . . .';
		form_fields[3].placeholder='enter your subject . . .';
		form_fields[4].placeholder='enter your messages . . .';


		for (var field in form_fields){
			form_fields[field].className += ' form-control'
		}
	</script>
{%endblock%}