{%load static%}
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>


<nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
    <a class="navbar-brand" href="#">Beauty Nepal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{%url 'home'%}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'about'%}">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'contact'%}">Contact us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'register'%}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'login'%}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{%url 'recommend'%}">Recommendation</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            {% if request.user.is_active%}
					<li class="nav-item-left">

                        <strong style="color:whitesmoke">{{user}}
						{% if user.is_authenticated %}

                             <a href="{% url 'logout' %}" style="color:whitesmoke">  | logout</a>
						{% endif %}
                            </strong>
					</li>
				{% endif %}
        </ul>
    </div>
</nav>



</html>                            